{% load static %}
{%load bootstrap4%}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  {% if title %}
  <title>Bus Booking App - {{title}}</title>
  {% else %}
  <title> Bus Booking </title>
  {% endif %}

  {%block style%}
  {%bootstrap_css%}
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{%static 'css/base.css'%}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  {%endblock%}


</head>

<body>
  {% include "admin_dash/navbar.html" %}

  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{message.tags}}">
    {{message}}
  </div>
  {% endfor %}
  {% endif%}

  {% block content %} {%endblock%}


  {%block scripts%}
  {%bootstrap_javascript%}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% bootstrap_javascript %}
  <script src="adminapp/admin.js"></script>
  {%endblock%}

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&display=swap" rel="stylesheet">
 
</body>

</html>