{%extends 'base.html'%}
{%load bootstrap4%}
{%load static%}
{%block content%}
<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3"></div>
        <div class="col-xm-12 col-sm-6 col-md-6 col-lg-6 book">
            <form method='post' , enctype='multipart/form'>
                {% csrf_token %}
                <div style="column-count:4;">
                    {{ form }}
                </div>
                <button type="button" value="submit" class="btn btn-primary" data-toggle="modal"
                    data-target="#exampleModalCenter">
                    Submit
                </button>
            </form>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3"></div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLongTitle">Confirm your booking</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="seat">Number of seats {{seat.seat_no|length}}</p>
                <p>Seat number {{seats.seat_no}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a href="{%url 'checkout'%}"><button class="btn btn-primary">Confirm</button></a>
            </div>
        </div>
    </div>
</div>

{% endblock %}