{%extends 'base.html'%}
{%load bootstrap4%}
{% load crispy_forms_tags %}
{%load static%}

{%block content%}
<div class="body">
  <div class="landing-nav">
    <div>
      <h2>BUS TRAVELS</h2>
    </div>
    <div>
      <ul class="nav">
        <li class="btn btn-lg"><a href="">HOME</a></li>
        <li class="btn btn-lg"><a href="">CONTACT</a></li>
        <li class="btn btn-lg sign"><a href="">SIGNUP</a></li>
        <li class="btn btn-lg sign"><a href="">LOGIN</a></li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xm-12 col-sm-6 col-md-6 col-lg-6">
        <form action="" method="POST" class="form">
          {% csrf_token %}
          <div>{% bootstrap_form form %}</div>
          <div class="form-group">
            <input type="submit" class="btn btn-md submit" value="SUBMIT">
          </div>
          <input type="hidden" name="next" value="{{next}}">
        </form>
      </div>
      <div class="col-md-6 col-lg-6"></div>

    </div>

  </div>
</div>

<button class="btn btn-lg available_buses">AVAILABLE BUSES</button>
<div class="container">
  {% include 'main/includes/messages.html' %}
  
  <table id="booking_table">
    <tr>
      <th>Bus type</th>
      <th>Departure</th>
      <th>Destination</th>
      <th>Amount(sh)</th>
      <th>Date(Departure)</th>
    </tr>
    {%for bus in buses%}

    <tr class="table_row">
      <td>{{bus.bus_name}}</td>
      <td>{{bus.source}}</td>
      <td>{{bus.destination}}</td>
      <td>sh.{{bus.fare}}</td>
      <td>{{bus.date}}</td>
      <td><button class="btn btn-md book_button float-right">BOOK NOW</button></td>
    </tr>
    {%endfor%}

  </table>
</div>
{%endblock %}