{%extends 'base2.html'%}
{%load bootstrap4%}
{% load crispy_forms_tags %}
{%load static%}

{%block content%}

<div class="body">
  <div class="landing-nav">
    <div>
      <h2>EAZY TRAVELS</h2>
    </div>
    <div>
      <ul class="nav" >
        <!-- <li class="btn btn-lg" ><a href="" >HOME</a></li> -->
        <li class="btn btn-lg sign"><a href="{%url 'about_us'%}">ABOUT US</a></li>
        <li class="btn btn-lg sign"><a href="{%url 'contact1' %}">CONTACT</a></li>
        <!-- <li class="btn btn-lg"><a href="">{{user}}</a></li> -->
        <div class="dropdown show" style="padding-right: 30px;">
          <button class="btn btn-info dropdown-toggle btn-md" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{user}}
          </button>
        
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="padding-right:40px;">
            <a class="dropdown-item  btn btn-light " href="{% url 'passengers-dash' %}">Admin</a>
            <a class="dropdown-item  btn btn-light " href="{% url 'drivers_dash'%}">Driver</a>
            <a class="dropdown-item btn btn-light " href="{% url 'index'%}">User</a>
            <a class="dropdown-item btn btn-light " href="{% url 'logoutuser' %}">Log Out {{user}}</a>
            
          </div>
        </div>

      </ul>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xm-12 col-sm-6 col-md-6 col-lg-6  bus-search-form">
        <form action="" method="POST" class="form">
          {% csrf_token %}
          <div>{% bootstrap_form form %}</div>
          <div class="form-group">
            <input type="submit" class="btn btn-md submit" id="submit" value="SUBMIT" style="background-color: #284b63;color:white;">
          </div>
          <input type="hidden" name="next" value="{{next}}">
        </form>
      </div>
      <div class="col-md-6 col-lg-6"></div>
    </div>
  </div>
</div>


<div class="available_buses card-body text-center" style="background-color:#284b63;height:70px;padding-bottom:20px;">AVAILABLE BUSES</div>
 
<div class="container">
<div class="card  pt-3 mt-5" style="padding-top:20px;border:2px solid #284b63;">
<div class="container card-body row" id="results">
  {% include 'main/includes/messages.html' %}
  <table id="booking_table ">
    <tr>
      <th>Bus type</th>
      <th>Departure</th>
      <th>Destination</th>
      <th>Amount(sh)</th>
      <th>Date(Departure)</th>
    </tr>
    {%for bus in buses%}
    <tr class="table_row">
      <td>{{bus.bus_name}}</td>
      <td>{{bus.source}}</td>
      <td>{{bus.destination}}</td>
      <td>sh.{{bus.fare}}</td>
      <td>{{bus.date}}</td>
      <td><a href="{% url 'booking' %}"><button class="btn btn-md book_button float-right" style="background-color: #284b63;color: #fff;">BOOK NOW</button></a>
      </td>
    </tr>
    {%endfor%}
  </table>
</div>
</div>

<div class="row" style="padding-top:20px">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <section id="team" class="card" style="box-shadow: 5px 10px;"> 
      <div class="container ">
          <div class="row justify-content-center">
              <div class="col-md-6">
                <h2>Our Happy Customers</h2>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-3 col-md-6">
                  <div class="member">
                    <div class="member-img">
                        <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t4.jpg" class="img-fluid" alt="">
                    </div>
                      <div class="member-info">
                          <h4>Emma White</h4>
                          <span>Web Designer</span>
                          <div class="social-links">
                              <a href="#"><i class="fab fa-facebook-f"></i></a>
                              <a href="#"><i class="fab fa-twitter"></i></a>
                              <a href="#"><i class="fab fa-linkedin-in"></i></a>
                              <a href="#"><i class="fab fa-pinterest-p"></i></a>
                              <a href="#"><i class="fab fa-instagram"></i></a>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="col-lg-3 col-md-6">
                  <div class="member">
                    <div class="member-img">
                        <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t3.jpg" class="img-fluid" alt="">
                    </div>
                      <div class="member-info">
                          <h4>Bobby Robins</h4>
                          <span>Web Developer</span>
                          <div class="social-links">
                              <a href="#"><i class="fab fa-facebook-f"></i></a>
                              <a href="#"><i class="fab fa-twitter"></i></a>
                              <a href="#"><i class="fab fa-linkedin-in"></i></a>
                              <a href="#"><i class="fab fa-pinterest-p"></i></a>
                              <a href="#"><i class="fab fa-instagram"></i></a>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="col-lg-3 col-md-6">
                  <div class="member">
                    <div class="member-img">
                        <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t2.jpg" class="img-fluid" alt="">
                    </div>
                      <div class="member-info">
                          <h4>Gena lee</h4>
                          <span>SEO Expert</span>
                          <div class="social-links">
                              <a href="#"><i class="fab fa-facebook-f"></i></a>
                              <a href="#"><i class="fab fa-twitter"></i></a>
                              <a href="#"><i class="fab fa-linkedin-in"></i></a>
                              <a href="#"><i class="fab fa-pinterest-p"></i></a>
                              <a href="#"><i class="fab fa-instagram"></i></a>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="col-lg-3 col-md-6">
                  <div class="member">
                    <div class="member-img">
                        <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t1.jpg" class="img-fluid" alt="">
                    </div>
                      <div class="member-info">
                          <h4>Noel Flantier</h4>
                          <span>ISO Developer</span>
                          <div class="social-links">
                              <a href="#"><i class="fab fa-facebook-f"></i></a>
                              <a href="#"><i class="fab fa-twitter"></i></a>
                              <a href="#"><i class="fab fa-linkedin-in"></i></a>
                              <a href="#"><i class="fab fa-pinterest-p"></i></a>
                              <a href="#"><i class="fab fa-instagram"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  </div>
  <div class="col-md-1"></div>
</div>
</div>



{%endblock %}