{% extends 'driver/base.html'%}

{% block content %}
<div class="container">
    <h1>Booking</h1>
    {{block.super}}
    <h4 class="" style="padding-top:50">Available buses</h4>
    <div style="padding:50">
        <table class="w3-table w3-striped w3-center">
            {% for customer in customer %}
            <tr>
                <td style="padding:10;">Name : {{customer.bus_name}}</td>
                <td style="padding:10;">source : {{customer.source}}</td>
                <td style="padding:10;">Dest : {{customer.dest}}</td>
                <td style="padding:10;">Nos : {{customer.nos}}</td>
                <td style="padding:10;">fare : {{customer.fare}}
                <td style="padding:10;">date : {{customer.date}}
                <td style="padding:10;">time : {{customer.time}}
                <td style="padding:10;">
                    <form action="/driver/delete/" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{bus.id}}">
                        <input class="" type="submit" value="Book Now">
                        
                    </form>
                </td>
            </tr>
          
    </div>
</div>
{% endfor %}
{%endblock%}