{%extends 'base.html'%}
{%load bootstrap4%}
{%block content%}
<div class="container">
    <div class="row reveal text-center">
        <h1 class="title">About bus booking.</h1>
        <p class="about">Build in 2021 where most people are highly dependant on technology, bus booking will
            allow users to
            search
            available
            buses and book the one they preffer from anywhere. Drivers, on the other side will be able to update
            buses,
            amount of
            fare and routes.</p>
    </div>
    <hr>
    <div class="row reveal">
        <div class="col-xm-6 col-sm-5 col-md-5 col-lg-5 column">
            <p class='aboutus text-right'>To enhancing the business growth of our customers with creative Design and
                Development to deliver
                market-defining
                high-quality solutions that create value and consistent competitive advantage for our clients around the
                world.</p>
        </div>
        <div class="col-xm-6 col-sm-7 col-md-7 col-lg-7">
            <img src="https://lh3.googleusercontent.com/proxy/PDlf3mqSUyHtvHFIBszr2To5LRvZdFs0IV9v5frtIHrOP3yNJ9a-HlVh_K4RkYnFlIG2tTyznMCQCFhd7KbuotAZxNFafIHTAPj_MPPCRdOSqjXsCtHaRcPZfClIxTY"
                alt="image" width="100%">
        </div>
    </div>
    <hr>

    <div class="row reveal">
        <div class="col-xm-6 col-sm-7 col-md-7 col-lg-7 column">
            <img src="https://blog.gorizen.com/hubfs/Mission%20Statement%20of%20tower%20and%20flag.jpg" alt=""
                width="100%">
        </div>
        <div class="col-xm-6 col-sm-5 col-md-5 col-lg-5">
            <p class='aboutus'>To become a prime performer, in providing quality Web, Print and Software solutions in
                the
                competitive
                global market
                place.</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row blog">
        <h1 class="center mx-auto text-center py-4">Our Team Members</h1>

        <div class="col-md-12">
            <div id="blogCarousel" class="carousel slide" data-ride="carousel">

                <ol class="invisible carousel-indicators">
                    <li data-target="#blogCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#blogCarousel" data-slide-to="1"></li>
                </ol>

                <!-- Carousel items -->
                <div class="carousel-inner">

                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="our-team">
                                    <div class="pic">
                                        <img
                                            src="https://www.kindpng.com/picc/m/22-223941_transparent-avatar-png-male-avatar-icon-transparent-png.png">
                                    </div>
                                    <div class="team-content">
                                        <h3 class="title">Odhiambo Gabriel</h3>
                                        <span class="post">Team Leader</span>
                                    </div>
                                    <ul class="social">
                                        <li>
                                            <a href="#" class="" style='color:white;'>Message</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="our-team">
                                    <div class="pic">
                                        <img
                                            src="https://www.kindpng.com/picc/m/22-223941_transparent-avatar-png-male-avatar-icon-transparent-png.png">
                                    </div>
                                    <div class="team-content">
                                        <h3 class="title">Kelvin Cheruiyot</h3>
                                        <span class="post">Backend developer</span>
                                    </div>
                                    <ul class="social">
                                        <li>
                                            <a href="#" class="" style='color:white;'>Message</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="our-team">
                                    <div class="pic">
                                        <img
                                            src="https://cdn1.iconfinder.com/data/icons/user-pictures/100/female1-512.png">
                                    </div>
                                    <div class="team-content">
                                        <h3 class="title">Vivian Gichuki</h3>
                                        <span class="post">UI/UX designer</span>
                                    </div>
                                    <ul class="social">
                                        <li>
                                            <a href="#" class="" style='color:white;'>Message</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="our-team">
                                    <div class="pic">
                                        <img
                                            src="https://cdn1.iconfinder.com/data/icons/user-pictures/100/female1-512.png">
                                    </div>
                                    <div class="team-content">
                                        <h3 class="title">Chepng'etich Faith</h3>
                                        <span class="post">Frontend developer</span>
                                    </div>
                                    <ul class="social">
                                        <li>
                                            <a href="#" class="" style='color:white;'>Message</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--.row-->
                    </div>
                    <!--.item-->

                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="our-team">
                                    <div class="pic">
                                        <img
                                            src="https://www.kindpng.com/picc/m/22-223941_transparent-avatar-png-male-avatar-icon-transparent-png.png">
                                    </div>
                                    <div class="team-content">
                                        <h3 class="title">Givondo Budds</h3>
                                        <span class="post">Backend developer</span>
                                    </div>
                                    <ul class="social">
                                        <li>
                                            <a href="#" class="" style='color:white;'>Message</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="our-team">
                                    <div class="pic">
                                        <img
                                            src="https://www.kindpng.com/picc/m/22-223941_transparent-avatar-png-male-avatar-icon-transparent-png.png">
                                    </div>
                                    <div class="team-content">
                                        <h3 class="title">Kiptoo Rotich</h3>
                                        <span class="post">Frontend developer</span>
                                    </div>
                                    <ul class="social">
                                        <li>
                                            <a href="#" class="" style='color:white;'>Message</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="our-team">
                                    <div class="pic">
                                        <img
                                            src="https://www.kindpng.com/picc/m/22-223941_transparent-avatar-png-male-avatar-icon-transparent-png.png">
                                    </div>
                                    <div class="team-content">
                                        <h3 class="title">Yegon Johnstone</h3>
                                        <span class="post"> Ui/UX designer</span>
                                    </div>
                                    <ul class="social">
                                        <li>
                                            <a href="#" class="" style='color:white;'>Message</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <!--.row-->
                    </div>
                    <!--.item-->

                </div>
                <!--.carousel-inner-->
            </div>
            <!--.Carousel-->

        </div>
    </div>
</div>

{%endblock%}