{%block content%}
<div class="landing-nav">
    <div>
        <ul class="nav" style="margin-top:0px; padding-top:2%">
            {%if user.is_authenticated%}
            <li class="btn btn-lg sign"><a href="/">HOME</a></li>
            <li class="btn btn-lg sign"><a href="{%url 'aboutus'%}">ABOUT US</a></li>
            <li class="btn btn-lg sign"><a href="{%url 'contact_us'%}">CONTACT US</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle btn btn-default btn btn-lg sign" data-toggle="dropdown" role="button"
                    aria-expanded="false">{{user}} <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li clas=" btn btn-lg sign">
                        <a href="{%url 'logout'%}">Logout</a>
                    </li>
                </ul>
            </li>
            {%else%}
            <li class="btn btn-lg sign"><a href="{%url 'register'%}">SIGNUP</a></li>
            <li class="btn btn-lg sign"><a href="{%url 'loginpage'%}">LOGIN</a></li>
            {%endif%}
        </ul>
    </div>
</div>
{%endblock%}