{%block content%}
<div class="landing-nav">
    <div>
        <ul class="nav" style="margin-top:0px">
            <li class="btn btn-lg sign"><a href="/">HOME</a></li>
            <li class="btn btn-lg sign"><a href="{%url 'aboutus'%}">ABOUT US</a></li>
            <li class="btn btn-lg sign"><a href="{%url 'contact_us'%}">CONTACT US</a></li>
            <li class="btn btn-lg sign"><a href="{%url 'register'%}">SIGNUP</a></li>
            <li class="btn btn-lg sign"><a href="{%url 'loginpage'%}">LOGIN</a></li>
        </ul>
    </div>
</div>
{%endblock%}
