<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking</title>
</head>
<body>
    <p>Thanks for contacting us. One of our customer care will reach you in a short time</p>
    <!-- <button type="button" onclick="location.href='{{ BASE_URL }}http://127.0.0.1:8000/index'">Back</button> -->
    <button type="button" onclick="location.href='{% url 'index' %}'">Back</button>
</body>
</html>