<div>
    <ul class="nav" >
      <!-- <li class="btn btn-lg" ><a href="" >HOME</a></li> -->
      <li class="btn btn-lg sign"><a href="{%url 'about_us'%}">ABOUT US</a></li>
      <li class="btn btn-lg sign"><a href="{%url 'contact1' %}">CONTACT</a></li>
      <!-- <li class="btn btn-lg"><a href="">{{user}}</a></li> -->
      <div class="dropdown show" style="padding-right: 30px;">
        <button class="btn btn-info dropdown-toggle btn-md" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sign in As
        </button>
      
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="padding-right:40px;">
          <a class="dropdown-item  btn btn-light " href="{% url 'passengers-dash' %}">Admin</a>
          <a class="dropdown-item  btn btn-light " href="{% url 'drivers_dash'%}">Driver</a>
          <a class="dropdown-item btn btn-light " href="{% url 'index'%}">User</a>
          <a class="dropdown-item btn btn-light " href="{% url 'logoutuser' %}">Log Out {{user}}</a>
          
        </div>
      </div>

    </ul>
  </div>