body {
    overflow-x: hidden;
}

.body {
    background-image: url('https://www.allianztravelinsurance.com/v_1557948389077/media/travel/planning/top-reasons-to-travel-by-bus.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 10%;
    top: 0px;
}

.nav {
    list-style: none;
    float: right !important;
    margin-right: 15%;
    clear: left;
}

.nav>li {
    font-family: 'Arvo', serif;
    font-weight: 600;
    letter-spacing: 5px;
}

.nav>li>a {
    color: black;
}

.landing-nav {
    width: 100%;
    padding-top: 2%;
    clear: both;
    margin-left: 5%;
}

.sign:hover {
    outline: 3px solid #EF8354;
    outline-style: groove;
    border-radius: 1px;
    background-color: rgb(255, 255, 255);
}

.form {
    margin-top: 5%;
    background-color: white;
    padding: 6%;
}

.submit {
    background-color: #EF8354;
    width: 100%;
    border-radius: 25px;
}

.available_buses {
    width: 100%;
    background-color: #EF8354;
    font-family: 'Arvo', serif;
    font-weight: bold;
    letter-spacing: 5px;
    color: white;
}

table {
    width: 100%;
    margin-top: 5%;
}

.book_button {
    background-color: green;
    color: white;
    font-weight: bold;
    width: 100%;
    margin: 10px 0px 10px 0px;
}

tr.table_row {
    border-bottom: 1px solid black;
}

.bus-search-form {
    padding-top: 20%;
}

.book>.seat{
    background-color:green;
}