{%  extends 'driver_dash/base.html' %}
{% load static %}
{% block content %}

<div class="row">

    <div class="col-md-12 ">
        <h5 class="text-center pt-3">Routes:</h5>
        <hr>
        <div class="card card-body">
            <div class="row" style="padding:20px">

                <div class="col-md-4">
                    <!-- <a href="" class="btn btn-info btn-lg">Add Driver</a> -->
                </div>
                <!-- <div class="col-md-2"></div> -->
                <div class="col-md-6"></div>
            </div>

            <table class="table table-sm">
                <tr>
                    <th>Bus Name</th>
                    <th>Source</th>
                    <th>Destination</th>
                    <th>Fare</th>
                    <th>Date</th>
                    <th>Time</th>
                   
                </tr>

                {% for routes in route %}
                <tr>
                    </td>
                    <td>{{routes.bus_name}}</td>
                    <td>{{routes.source}}</td>
                    <td> {{routes.destination}} </td>
                    <td>{{routes.fare}}</td>
                    <td>{{routes.date}}</td>
                    <td>{{routes.time}}</td>
                   

                </tr>
                {% endfor %}

            </table>
        </div>
    </div>
    {%endblock%}